.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__f5Q7O {
  display: flex;
  position: relative;
  max-width: var(--token-xgq22VdOLoU3);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__f5Q7O > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__f5Q7O > :global(.__wab_flex-container) > *,
.freeBox__f5Q7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f5Q7O > :global(.__wab_flex-container) > picture > img,
.freeBox__f5Q7O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f5Q7O {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f5Q7O > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f5Q7O > :global(.__wab_flex-container) > *,
  .freeBox__f5Q7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f5Q7O > :global(.__wab_flex-container) > picture > img,
  .freeBox__f5Q7O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hRlWn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hRlWn {
    justify-content: center;
  }
}
.freeBox___68JBb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__etj48 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__etj48 {
    text-align: center;
  }
}
.freeBox__uW5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uW5 {
    align-self: center;
    justify-content: center;
  }
}
.svg__zeAjf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__zYh6V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__zyrBc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__n2Cce {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__ckcKe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ckcKe {
    justify-content: center;
  }
}
.h4__t8VfB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__t8VfB {
    text-align: center;
  }
}
.button__h6A2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__h6A2:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jTpyi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iNuBd {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__iNuBd {
    text-align: center;
  }
}
.svg__dUzIc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tzbV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tzbV:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__sdfBf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vCiZt {
  color: #92959b;
}
.svg__eiWO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__crrd5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__crrd5:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__m3E1D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__me2Eo {
  color: #92959b;
}
.svg__wvySb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__l8O6V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__l8O6V:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hBaGw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___92Cek {
  color: #92959b;
}
.svg___5WGLi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__roIdl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__roIdl {
    justify-content: center;
  }
}
.h4__c93VN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__c93VN {
    align-self: center;
    text-align: center;
  }
}
.button__k0E5U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__k0E5U:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ngTR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__lbXbF {
  color: #92959b;
}
.svg__tubSj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6WCiu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___6WCiu:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hlEnu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dLwX {
  color: #92959b;
}
.svg__aUqce {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__qKh99 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__qKh99 {
    justify-content: center;
  }
}
.h4__uXwY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__uXwY {
    align-self: center;
    text-align: center;
  }
}
.button__uhXbL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__uhXbL:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___3ZsgS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kvTlV {
  color: #92959b;
}
.svg___5AzTm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4COuz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___4COuz:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__vIHgO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__suZw {
  color: #92959b;
}
.svg__x6Y8M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vgQ5A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__vgQ5A:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jUlDp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xMeXu {
  color: #92959b;
}
.svg__rBuIe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___3VGpC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__xxgAv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xxgAv {
    padding-top: 129px;
  }
}
