.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__e1Z5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__e1Z5 {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__vcQtf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__vcQtf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vcQtf > :global(.__wab_flex-container) > *,
.freeBox__vcQtf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vcQtf > :global(.__wab_flex-container) > picture > img,
.freeBox__vcQtf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vcQtf {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vcQtf > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vcQtf > :global(.__wab_flex-container) > *,
  .freeBox__vcQtf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vcQtf > :global(.__wab_flex-container) > picture > img,
  .freeBox__vcQtf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ns1DX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ns1DX {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__nyw3H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__nyw3H {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox___1PxQ5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox___1PxQ5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1PxQ5 {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1PxQ5 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1PxQ5 > :global(.__wab_flex-container) > *,
  .freeBox___1PxQ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1PxQ5 > :global(.__wab_flex-container) > picture > img,
  .freeBox___1PxQ5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__fVopj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__fVopj:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__pkkRg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__lEG {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg___9EoQb {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___9EoQb {
    color: #ffffff;
    margin-right: 0px;
  }
}
.button__vJqS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__vJqS:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__taNcD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zf3FI {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zf3FI {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__q0Pkn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___32MRd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___32MRd {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__sJrfP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uawdg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eBz6I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4Eoe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___4Eoe:global(.__wab_instance) {
    display: none;
  }
}
.svg__iBpdT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8YlFr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qHiyc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hdHtV {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img__hdHtV > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hdHtV {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text__j2YX {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-xgq22VdOLoU3);
  color: var(--token-6wC61coXuWrf);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__j2YX {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox__sqOcm {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__sqOcm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__sqOcm > :global(.__wab_flex-container) > *,
.freeBox__sqOcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sqOcm > :global(.__wab_flex-container) > picture > img,
.freeBox__sqOcm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sqOcm {
    width: 100%;
    max-width: var(--token-xgq22VdOLoU3);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sqOcm > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sqOcm > :global(.__wab_flex-container) > *,
  .freeBox__sqOcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sqOcm > :global(.__wab_flex-container) > picture > img,
  .freeBox__sqOcm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__gfjYt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gfjYt > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__gfjYt {
    max-width: 170px;
  }
}
.img__qmHl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qmHl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__qmHl {
    max-width: 170px;
  }
}
.img__x9OxE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__x9OxE > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__x9OxE {
    max-width: 170px;
  }
}
.img___9CDgn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___9CDgn > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9CDgn {
    max-width: 170px;
  }
}
.img___9Lo0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img___9Lo0 > picture > img {
  object-fit: cover;
}
.img__nyWpF {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__nyWpF > picture > img {
  object-fit: cover;
}
.img__elOMi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__elOMi > picture > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__llBsV {
  max-width: var(--token-xgq22VdOLoU3);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__llBsV {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__swwwU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__swwwU {
    font-size: 28px;
  }
}
.text__xYzyS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img___7Av1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img___7Av1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7Av1 {
    max-width: 249px;
  }
}
.img__ddGjw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__ddGjw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ddGjw {
    width: auto;
  }
}
.img__es3Mi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__es3Mi > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__es3Mi {
    max-width: 50px;
  }
}
.img___7Sk5R {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img___7Sk5R > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7Sk5R {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__jdOf5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__jdOf5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__jdOf5 > :global(.__wab_flex-container) > *,
.freeBox__jdOf5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdOf5 > :global(.__wab_flex-container) > picture > img,
.freeBox__jdOf5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jdOf5 {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jdOf5 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jdOf5 > :global(.__wab_flex-container) > *,
  .freeBox__jdOf5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jdOf5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jdOf5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__aeRf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__aeRf:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__x8B7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__on0C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__lztRw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__lztRw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__lztRw > :global(.__wab_flex-container) > *,
.freeBox__lztRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lztRw > :global(.__wab_flex-container) > picture > img,
.freeBox__lztRw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lztRw {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lztRw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lztRw > :global(.__wab_flex-container) > *,
  .freeBox__lztRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lztRw > :global(.__wab_flex-container) > picture > img,
  .freeBox__lztRw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__ewMnx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ewMnx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ewMnx {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__ixNez {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ixNez > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ixNez {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__ttbzV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ttbzV > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ttbzV {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___9WOm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9WOm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9WOm {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__rwC8M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rwC8M > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__rwC8M {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___6IgYl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___6IgYl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___6IgYl {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__avi4R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__avi4R > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__avi4R {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__ihkq4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__floJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__floJe {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__iV65U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iV65U {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__tu6Rq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-epmu_hPfghEL);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__tu6Rq {
    color: var(--token-epmu_hPfghEL);
  }
}
.text__iA9Dg {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__iA9Dg {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img__okChY {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__okChY > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__okChY {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__aigb0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aigb0 {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__lr9Lm {
  --plsmc-rc-col-gap: 0px;
}
.columns__lr9Lm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__lr9Lm > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__lr9Lm > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lr9Lm > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__lr9Lm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__lr9Lm > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oLvm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__oLvm {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__fw3F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__fw3F > picture > img {
  object-fit: cover;
}
.column__wtOg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__wtOg {
    padding: 4px 0px;
  }
}
.img__jFr9L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__jFr9L > picture > img {
  object-fit: cover;
}
.column__u6Jfr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__u6Jfr {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__drDtF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__drDtF > picture > img {
  object-fit: cover;
}
.columns__lQtWa {
  --plsmc-rc-col-gap: 0px;
}
.columns__lQtWa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__lQtWa > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__lQtWa > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lQtWa > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__lQtWa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__lQtWa > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r0Etp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__r0Etp {
    padding-right: 0px;
  }
}
.img__fgU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__fgU > picture > img {
  object-fit: cover;
}
.column__f8J9G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__f8J9G {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__iLeS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__iLeS > picture > img {
  object-fit: cover;
}
.column__avzCa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__avzCa {
    padding-left: 0px;
  }
}
.img__kioHh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__kioHh > picture > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__evWwb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__e3Tel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__gU11 {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__gU11 {
    font-size: 16px;
  }
}
.button__ftqZc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ftqZc:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__joE9X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___8Flgk {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg___4WVdL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__uYiC {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__uYiC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__uYiC > :global(.__wab_flex-container) > *,
.freeBox__uYiC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uYiC > :global(.__wab_flex-container) > picture > img,
.freeBox__uYiC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uYiC {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uYiC > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uYiC > :global(.__wab_flex-container) > *,
  .freeBox__uYiC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uYiC > :global(.__wab_flex-container) > picture > img,
  .freeBox__uYiC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__qu77Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__fJnvx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__liILf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__liILf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__liILf > :global(.__wab_flex-container) > *,
.freeBox__liILf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__liILf > :global(.__wab_flex-container) > picture > img,
.freeBox__liILf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__liILf > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__liILf > :global(.__wab_flex-container) > *,
  .freeBox__liILf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__liILf > :global(.__wab_flex-container) > picture > img,
  .freeBox__liILf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__yl3Yo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__iimr5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zgGwa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__dzw6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-epmu_hPfghEL);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__dzw6Q {
    padding-top: 18px;
  }
}
.freeBox__tWd6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tWd6M {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__dhuYp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___6Rx1I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___6Rx1I > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___6Rx1I {
    max-width: 339px;
  }
}
.freeBox__fRxU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__bdGzG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-epmu_hPfghEL);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__bdGzG {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__sxH6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sxH6 {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img___83QbG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___83QbG > picture > img {
  object-fit: cover;
}
.text__x3BNw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__x3BNw {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__mJ4L6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mJ4L6 {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__jF1Ml {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__jF1Ml > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__jF1Ml {
    width: auto;
    align-self: flex-start;
  }
}
.text__b9JNk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__b9JNk {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox___29Xaf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox___29Xaf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___29Xaf {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___29Xaf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___29Xaf > :global(.__wab_flex-container) > *,
  .freeBox___29Xaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___29Xaf > :global(.__wab_flex-container) > picture > img,
  .freeBox___29Xaf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__bmuAs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__iwBc7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__eezEw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jjy3G {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__jjy3G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jjy3G {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jjy3G > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jjy3G > :global(.__wab_flex-container) > *,
  .freeBox__jjy3G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jjy3G > :global(.__wab_flex-container) > picture > img,
  .freeBox__jjy3G
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__vMRfk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__mvFla:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout___2EFjp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__trxl9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__trxl9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__trxl9 {
    display: none !important;
  }
}
.img__hbm6E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__hbm6E > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hbm6E {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___78UhW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___78UhW {
    margin-bottom: 0px;
  }
}
.img__ofPBj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__ofPBj > picture > img {
  object-fit: cover;
}
.columns__yli4K {
  --plsmc-rc-col-gap: 0px;
}
.columns__yli4K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__yli4K > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__yli4K > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yli4K {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yli4K > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vCgP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__vCgP {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-epmu_hPfghEL);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__wEtTm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-epmu_hPfghEL);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wEtTm {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__j0GfM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__j0GfM {
    padding-bottom: 38px;
  }
}
.button__kEgu6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__kEgu6:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wbc93 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fosLq {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__gZvUt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__lUcfj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns___6Nbfu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns___6Nbfu > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  --plsmc-rc-col-gap: 52px;
}
.columns___6Nbfu > :global(.__wab_flex-container) > *,
.columns___6Nbfu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6Nbfu > :global(.__wab_flex-container) > picture > img,
.columns___6Nbfu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
.columns___6Nbfu {
  --plsmc-rc-col-gap: 0px;
}
.columns___6Nbfu > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6Nbfu > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___6Nbfu > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Nbfu {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Nbfu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Nbfu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c4YgM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__lVjBp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__ntAhD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__xdQbi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__xdQbi:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__xhp5F {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__dovyj {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__dovyj {
    top: 85px;
    font-size: 14px;
  }
}
.column___6NL0M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__cvr0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__cvr0:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
